# -----------------
# Python
# -----------------
__pycache__/
*.py[cod]
*.pyo

venv/
env/
.venv/

# Flask
instance/

# Databases
*.sqlite
*.sqlite3

# Environment variables
.env

# -----------------
# Node / Vue
# -----------------
node_modules
dist
dist-ssr
coverage
*.local

# Logs
logs
*.log

# Editors
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store